html,
body {
  font-family: 'Times New Roman', Times, serif;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
}



header {

  background-color: #333;
  display: flex;

}

header h3 {

  text-align: center;

  line-height: 100px;
  margin: 0;
  margin: auto;

}



article {
  padding: 10px;
  margin: 10px;
  background-color: aqua;
  width: 200px;
  border: 2px solid gray;
  border-radius: 5px;
display: flex;
flex-flow: column;


}



article button {
  width: 80%;
  margin: 0 auto;
  padding: 15px 20px;
  border: 2px solid gray;
  border-radius: 30px;
  text-align: center;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top:auto;
  bottom: 0px;
}

article button:hover {

  background-color: #c48484;
}

article button:active {
  background-color: #04AA6D;
}


section {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}


footer {
  margin-top: auto;
  background-color: #333;
  font-size: large;
color: #969494;

}

.fot {
  text-align: center;

}

.topnav {

  background-color: #333;

}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.topnav .icon {
  display: none;
}

/*Si se achica de 600 px*/
@media screen and (max-width: 600px) {

  /*De la clase topnav los elementos a que no son primer hijo del div (home): para que siempre sea visible*/
  .topnav a:not(:first-child) {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}