
/*css*/ 
html,
body {
  font-family: 'Times New Roman', Times, serif;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  font-size: large;
  color: #969494;
}



header {

  background-color: #000000;
  display: flex;


}

header h3 {

  text-align: center;
  margin: auto;



}

section {
  margin: 5em;
  display: flex;
  flex-direction: column;

}

footer {
  margin-top: auto;
  background-color: #000000;

}

.fot {
  text-align: center;

}

.topnav {

  background-color: #333;

}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.topnav .icon {
  display: none;
  color: #f2f2f2;
}

/*Si se achica de 600 px*/
@media screen and (max-width: 600px) {

  /*De la clase topnav los elementos a que no son primer hijo del div (home): para que siempre sea visible*/
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav {
    width: 80%;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }
  a.icon {
    display: flex;
    flex: 1;
    width: auto;
    justify-content: center;
    padding-top: 10px;
    background-color: #333;
    text-decoration: none;
  }
  header h3 {
    display: none;
  }

  header img {
    display: none;
  }
}
 

  

  .fa {
    color: #131212;
    ;
  }

  .topnav.responsive .icon {
    position: relative;
    right: 0;
    top: 0;
  }





  


  .items {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  div img {
    border-radius: 30px;
    max-width: 50%;
    max-height: 50%;
  }


  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    text-align: center;

  }




#if {
  display: flex;

  align-items: center;

}

.animation {
  animation-duration: 1.5s;
  animation-name: slidein;
  animation-timing-function: linear;
}

@keyframes slidein {
  from {
    margin-left: 100%;

  }

  to {
    margin-left: 0%;

  }
}

@media screen and (min-width: 600px) {
  .fa {

    display: none;
  }


}