html,
body {
  font-family: 'Times New Roman', Times, serif !important;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  font-size: large !important;
  color: #969494 !important;
  line-height: unset;

}



header {
 
  background-color: #000000;
  display: flex;
  
 

}

header h3 {
  font-style: unset;
  text-align: center;
  font-weight: 700;;
  margin: auto;
  font-size: unset !important;
  color: #969494 !important;
}

section {
  margin: 5em;
  display: flex;
  flex-direction: column;

}

footer {
  margin-top: auto;
  background-color: #333;
  font-size: large;
  color: #969494;
}

.fot {
  text-align: center;

}

.topnav {

  background-color: #333;

}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.topnav .icon {
  display: none;
  color: #f2f2f2;
}

/*Si se achica de 600 px*/
@media screen and (max-width: 600px) {

  /*De la clase topnav los elementos a que no son primer hijo del div (home): para que siempre sea visible*/
  .topnav a:not(:first-child) {
    display: none;
  }

  .topnav {
    width: 80%;
  }
}
  @media screen and (max-width: 600px) {
    .topnav.responsive {
      position: relative;
    }

    a.icon {
      display: flex;
      flex: 1;
      width: auto;
      justify-content: center;
      padding-top: 10px;
      background-color: #333;
      text-decoration: none;
    }

    header h3 {
      display: none;
    }

    header img {
      display: none;
    }
  }

  .topnav a.icon {
    float: right;
    display: block;
  }


@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

article {
  flex: 1;
}

.fa {
  color: #131212;
  
}
@media screen and (min-width: 600px) {
  .fa {

    display: none;
  }


}
.topnav.responsive .icon {
  position: relative;
  right: 0;
  top: 0;
}