html,
body {
    font-family: 'Times New Roman', Times, serif;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-size: large;
    color: #969494;
}



header {

    background-color: #000000;


}

header h1 {

    text-align: center;
   
    line-height: 100px;
    margin: 0;

}

section {
    margin: 5em;
    display: flex;
    flex-direction: column;

}

footer {
    margin-top: auto;
    background-color: #000000;

}

.fot {
    text-align: center;

}

.topnav {
   
    background-color: #333;
  
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }
  /*Si se achica de 600 px*/
  @media screen and (max-width: 600px) {
    /*De la clase topnav los elementos a que no son primer hijo del div (home): para que siempre sea visible*/
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }


  
  .wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    text-align: center;
    text-shadow: 5px 5px 5px #aaa;
    
  }
 
 
  .items {
    display: flex;
    justify-content: center;
    align-items: center;
    ;
  }
  
  div img{
  border-radius: 30px;
    max-width:50%;
    max-height:50%;
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }

    .wrapper {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 10px;
      grid-auto-rows: minmax(100px, auto);
      text-align: center;
      
    }
  }

  article {
    flex: 1;
  }

  #if {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
  }

  .animation {
    animation-duration: 1.5s;
    animation-name: slidein;
    animation-timing-function: linear;
  }
  @keyframes slidein {
    from {
      margin-left: 100%;
      
    }
  
    to {
      margin-left: 0%;
      
    }
  }